<?xml version="1.0"?>
<config>
    <modules>
        <Monstroestudio_Moip>
            <version>1.0.0.5</version>
        </Monstroestudio_Moip>
    </modules>
    <global>
        <models>
            <moip>
                <class>Monstroestudio_Moip_Model</class>
                <resourceModel>moip_resource</resourceModel>
            </moip>
            <moip_resource>
            	<class>Monstroestudio_Moip_Model_Resource</class>
            	<entities>
            		<transactions>
            			<table>moip_transactions</table>
            		</transactions>
            		<safe>
            			<table>moip_safe</table>
            		</safe>
            	</entities>
            </moip_resource>
        </models>
        <helpers>
            <moip>
                <class>Monstroestudio_Moip_Helper</class>
            </moip>
        </helpers>
        <resources>
            <moip_setup>
                <setup>
                    <module>Monstroestudio_Moip</module>
                </setup>
                <connection>
					<use>core_setup</use>
				</connection>
            </moip_setup>
            <moip_write>
				<connection>
					<use>core_write</use>
				</connection>
			</moip_write>
			<moip_read>
				<connection>
					<use>core_read</use>
				</connection>
			</moip_read>
        </resources>
        <blocks>
            <moip><class>Monstroestudio_Moip_Block</class></moip>
        </blocks>
        <payment>
            <groups>
                <moip>moip</moip>
            </groups>
        </payment>
        <events>
        	<admin_system_config_section_save_after>
        		<observers>
        			<auto_update_street_lines>
        				<class>moip/observer</class>
        				<method>updateStreetLines</method>
        			</auto_update_street_lines>
        		</observers>
        	</admin_system_config_section_save_after>
        	<moip_sales_quote_assign_data_after>
        		<observers>
        			<set_custom_discount_moip>
        				<type>singleton</type>
        				<class>moip/observer</class>
        				<method>setDiscount</method>
        			</set_custom_discount_moip>
        			<set_credit_card_tax_moip>
        				<type>singleton</type>
        				<class>moip/observer</class>
        				<method>setCCTax</method>
        			</set_credit_card_tax_moip>
        		</observers>
        	</moip_sales_quote_assign_data_after>
        </events>
    </global>
    <frontend>
        <routers>
            <moip>
                <use>standard</use>
                <args>
                    <module>Monstroestudio_Moip</module>
                    <frontName>moip</frontName>
                </args>
            </moip>
        </routers>
        <layout>
            <updates>
                <moip>
                    <file>monstroestudio/moip.xml</file>
                </moip>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <moip after="Mage_Adminhtml">Monstroestudio_Moip</moip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Monstroestudio_Moip>
                    <files>
                        <default>Monstroestudio_Moip.csv</default>
                    </files>
                </Monstroestudio_Moip>
            </modules>
        </translate>
        <layout>
            <updates>
                <moip>
                    <file>moip.xml</file>
                </moip>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <moip translate="title" module="moip">
                                            <title>Moip Settings</title>
                                        </moip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
    	<payment>
    		<moip>
    			<active>0</active>
    			<payment_action>authorize</payment_action>
    			<title>MoIP - Cartão, Boleto e Transferência</title>
    			<methods>cc,boleto,deposito</methods>
    			<parcelado>1</parcelado>
    			<parcelado_avista>1</parcelado_avista>
    			<numero_max_parcelas>12</numero_max_parcelas>
    			<parcela_min>5</parcela_min>
    			<parcelas_s_juros>0</parcelas_s_juros>
    			<juros_parcela>1.99</juros_parcela>
    			<desconto_boleto>0</desconto_boleto>
    			<desconto_transf>0</desconto_transf>
    			<vencimento_boleto>5</vencimento_boleto>
    			<bloquear_boleto_estoque>0</bloquear_boleto_estoque>
    			<sandbox>0</sandbox>
    			<order_status>pending</order_status>
    			<model>Monstroestudio_Moip_Model_PaymentMethod</model>
    		</moip>
    	</payment>
    	<customer>
    		<address>
    			<street_lines>4</street_lines>
    		</address>
    	</customer>
    </default>
</config>